version: '3.8'

services:
  web:
    image: php:8.2-apache
    container_name: apache
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html

  db:
    image: mariadb:11
    container_name: mariadb
    env_file:
      - path: ./.env
        required: true
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
